<div>
  <button routerLink="/">Back</button>
</div>

<form [formGroup]="registerForm" (submit)="handleCreate()">
  <mat-form-field appearance="outline">
    <!-- <mat-label>Nome da Fazenda</mat-label> -->
    <input matInput placeholder="Nome da fazenda" formControlName="name" [(ngModel)]="registerForm.value.name">        
  </mat-form-field>

  
  
  <mat-form-field appearance="outline">
    <!-- <mat-label>Dono</mat-label> -->
    <input matInput placeholder="Dono da fazenda" formControlName="owner_id" [(ngModel)]="registerForm.value.owner_id">
  </mat-form-field>

  <p (click)="draw('Circle')" style="cursor: pointer;">Pegar coordenadas (Centróide e Geometria)</p>

  <button *ngIf="!updateMode" [disabled]="registerForm.invalid">Confirmar</button>
  <button *ngIf="updateMode" (click)="handleEdit()">Save</button>
</form>
